<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 no-js" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 no-js" lang="en-US"><![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">
<?php include "view/htm2/header.html";?>
   <!-- END | Header -->
   <div class="ht-page-header" style="background-image: url('view/htm2/images/parallax/2.jpg')">
    <div class="overlay" style="background: rgba(0,0,0,.5)"></div>
    <div class="container">
     <div class="inner">
      <h2 class="heading">PAGE HEADER</h2>
      <ol class="ht-breadcrumb">
       <li><a href="#">Bread</a></li>
       <li>Crumb</li>
      </ol>
     </div>
     <!-- / .inner -->
    </div>
    <!-- / .container -->
   </div>
   <!-- / .ht-page-header -->
   <section class="ht-section">
    <div class="container">
     <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="ht-accordion" id="accordion" role="tablist" aria-multiselectable="true">
       <div class="panel panel-default">
        <div class="panel-heading current" role="tab" id="headingOne">
         <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Frequently Asked Question #1? <span class="indicator"></span></a></h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
         <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
         </div>
        </div>
       </div>
       <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
         <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Frequently Asked Question #2? <span class="indicator"></span></a></h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
         <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
         </div>
        </div>
       </div>
       <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
         <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Frequently Asked Question #3? <span class="indicator"></span></a></h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
         <div class="panel-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </section>
   <section class="ht-section hs-footer-widget">
    <h2 class="sr-only">Realty footer</h2>
    <div class="container">
     <div class="row">
      <div class="col-xs-12 col-sm-3">
       <div class="ht-widget hw-popular-recipes">
        <h3 class="widget-title">POPULAR RECIPES</h3>
        <article class="post">
         <a href="post_single.html">
          <div class="media">
           <img src="view/htm2/images/thumb/1.jpg" alt="" />
          </div>
          <div class="content">
           <h4>Khatulistiwa Fruit Salad</h4>
           <div class="meta-rate" title="4 star">
            <i class="fa fa-star rated"></i>
            <i class="fa fa-star rated"></i>
            <i class="fa fa-star rated"></i>
            <i class="fa fa-star rated"></i>
            <i class="fa fa-star"></i>
           </div>
          </div></a>
        </article>
        <!-- /.post -->
        <article class="post">
         <a href="post_single.html">
          <div class="media">
           <img src="view/htm2/images/thumb/2.jpg" alt="" />
          </div>
          <div class="content">
           <h4>Home Made Italian Pizza</h4>
           <div class="meta-rate" title="4 star">
            <i class="fa fa-star rated"></i>
            <i class="fa fa-star rated"></i>
            <i class="fa fa-star rated"></i>
            <i class="fa fa-star rated"></i>
            <i class="fa fa-star"></i>
           </div>
          </div></a>
        </article>
        <!-- /.post -->
        <article class="post">
         <a href="post_single.html">
          <div class="media">
           <img src="view/htm2/images/thumb/3.jpg" alt="" />
          </div>
          <div class="content">
           <h4>Original Kupat Sayur</h4>
           <div class="meta-rate" title="4 star">
            <i class="fa fa-star rated"></i>
            <i class="fa fa-star rated"></i>
            <i class="fa fa-star rated"></i>
            <i class="fa fa-star rated"></i>
            <i class="fa fa-star"></i>
           </div>
          </div></a>
        </article>
        <!-- /.post -->
        <article class="post">
         <a href="post_single.html">
          <div class="media">
           <img src="view/htm2/images/thumb/4.jpg" alt="" />
          </div>
          <div class="content">
           <h4>Fried Sumedang Tofu</h4>
           <div class="meta-rate" title="4 star">
            <i class="fa fa-star rated"></i>
            <i class="fa fa-star rated"></i>
            <i class="fa fa-star rated"></i>
            <i class="fa fa-star rated"></i>
            <i class="fa fa-star"></i>
           </div>
          </div></a>
        </article>
        <!-- /.post -->
       </div>
       <!-- / .ht-widget -->
      </div>
      <!-- /. widget colums -->
      <div class="col-xs-12 col-sm-3">
       <div class="ht-widget hw-popular-categories">
        <h3 class="widget-title">POPULAR CATEGORIES</h3>
        <ul>
         <li><a href="#">Foods</a></li>
         <li><a href="#">Desserts</a></li>
         <li><a href="#">Beverages</a></li>
         <li><a href="#">Appelizes</a></li>
         <li><a href="#">Pudding</a></li>
         <li><a href="#">Iced Cream</a></li>
        </ul>
       </div>
       <!-- /. ht-widget -->
      </div>
      <!-- /. widget colums -->
      <div class="col-xs-12 col-sm-3">
       <div class="ht-widget hw-posts">
        <h3 class="widget-title">POPULAR POST FROM BLOG</h3>
        <article class="post">
         <h4><a href="post_single.html">Suspendisse Non Purus Mauris. Suspendisse Vulputate Ligula Sed Turpis.</a></h4>
         <div class="meta">
          <span>146 VIEWS</span>
          <span>23 COMMENTS</span>
         </div>
        </article>
        <!-- / .post -->
        <article class="post">
         <h4><a href="post_single.html">Suspendisse Non Purus Mauris. Suspendisse Vulputate Ligula Sed Turpis.</a></h4>
         <div class="meta">
          <span>146 VIEWS</span>
          <span>23 COMMENTS</span>
         </div>
        </article>
        <!-- / .post -->
        <article class="post">
         <h4><a href="post_single.html">Suspendisse Non Purus Mauris. Suspendisse Vulputate Ligula Sed Turpis.</a></h4>
         <div class="meta">
          <span>146 VIEWS</span>
          <span>23 COMMENTS</span>
         </div>
        </article>
        <!-- / .post -->
        <article class="post">
         <h4><a href="post_single.html">Suspendisse Non Purus Mauris. Suspendisse Vulputate Ligula Sed Turpis.</a></h4>
         <div class="meta">
          <span>146 VIEWS</span>
          <span>23 COMMENTS</span>
         </div>
        </article>
        <!-- / .post -->
       </div>
       <!-- /. ht-widget -->
      </div>
      <!-- /. widget colums -->
      <div class="col-xs-12 col-sm-3">
       <div class="ht-widget hw-about">
        <h3 class="widget-title">ABOUT NUTRITIONIST TEMPLATE</h3>
        <p>Nunc vel lorem ligula, vitae vestibulum arcu. Suspendisse non purus mauris. Suspendisse vulputate ligula sed turpis fermentum sollicitudin. Quisque orci lorem, porta nec rutrum sit amet, auctor sodales sapien.</p>
       </div>
       <!-- /. ht-widget -->
       <div class="ht-widget hw-subscribe">
        <h3 class="widget-title">SUBSCRIBE TO OUR NEWSLETTER</h3>
        <p class="caption">Always up to date about our new recipe</p>
        <form action="#">
         <input type="text" placeholder="Email" />
         <button type="submit">GO</button>
        </form>
        <p class="social"><a href="#" class="fa fa-facebook" title=""></a><a href="#" class="fa fa-twitter" title=""></a><a href="#" class="fa fa-youtube" title=""></a><a href="#" class="fa fa-rss" title=""></a></p>
       </div>
       <!-- /. ht-widget -->
      </div>
      <!-- /. widget colums -->
     </div>
    </div>
   </section>
   <footer id="ht-footer">
    <div class="container">
     <p class="copyright">COPYRIGHT &copy; 2014 NUTRITIONIST. POWERED BY WORDPRESS AND THEMEPE</p>
     <ul class="footer-nav">
      <li><a href="index.html">HOME</a></li>
      <li><a href="event_list.html">EVENT</a></li>
      <li><a href="recipe_index.html">ALL RECIPES</a></li>
      <li><a href="post_masonry.html">BLOG</a></li>
      <li><a href="contact.html">CONTACT</a></li>
      <li><a href="register_login.html">LOGIN</a></li>
     </ul>
    </div>
   </footer>
   <!-- Modal -->
   <div class="modal fade" id="ht-search-form" tabindex="-1" role="dialog" aria-labelledby="ht-search-form" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="modal-dialog">
     <div class="modal-content">
      <div class="modal-body">
       <form action="#">
        <input type="text" placeholder="Type keyword ..." autofocus="" />
        <button class="search-button" type="button"><span class="sr-only">Toggle search</span><i class="fa fa-search"></i></button>
       </form>
      </div>
     </div>
    </div>
   </div>
   <!-- / .hs-footer-widget -->
  </div>
  <!-- ./ht-page-wrapper -->
  <script src="view/htm2/js/plugins.js"></script>
  <script src="view/htm2/js/custom.js"></script>
 </body>
</html>